h1= "Searched for #{@query} (el: #{@translation})"

div class='owl-carousel owl-theme'
  - @photos.each do |photo|
    div: img class='stock' src=photo.small data-large=photo.large data-square=photo.square

div class='text-center center-block center'
  input class='form-control' id='translation' value=@translation
  br
  input class='form-control' id='transliteration' value=''
  br
  input class='form-control' id='query' value=@query
  br

br
canvas id='ig_image' class='text-center center-block' width=1080 height=1080
  Image Canvas

javascript:
  var selectedImageData = [];
  var query = "#{@query}";
  var translation = "#{@translation}";
  var transliteration = "";

  $('#translation').change(function() {
    translation = $(this).val();
    var tr = $('#translation').val();
    window.t.go(1);
    $('#transliteration').val($('#translation').val());
    transliteration = $('#transliteration').val();
    $('#translation').val(tr);
    updateImage();
  });

  $('#query').change(function() {
    query = $(this).val();
    updateImage();
  });

  $('#transliteration').change(function() {
    transliteration = $(this).val();
    updateImage();
  });

  var updateImage = function() {
    var canvas = document.getElementById('ig_image');
    var ctx = canvas.getContext('2d');

    ctx.fillStyle = 'rgb(255, 255, 255)';
    ctx.fillRect(0, 0, 1080, 1080);

    ctx.fillStyle = 'rgb(200, 100, 100)';
    ctx.fillRect(30, 30, 1000, 1000);

    ctx.fillStyle = 'rgba(0, 0, 100, 0.5)';
    ctx.fillRect(50, 50, 1000, 1000);

    ctx.fillStyle = 'rgb(0, 0, 0)';
    ctx.fillRect(50, 50, 980, 980);

    var trY = transliteration.length > 0 ? 155 : 180;

    ctx.font = "100px Arial";
    ctx.textAlign = "center";
    ctx.fillStyle = "white";
    ctx.fillText(translation, canvas.width/2, trY);
    ctx.lineWith = 2;
    ctx.strokeStyle = '#2b162b';
    //ctx.strokeText(translation, canvas.width/2, trY);

    ctx.font = "40px Arial";
    ctx.textAlign = "center";
    ctx.fillStyle = "white";
    ctx.fillText(transliteration, canvas.width/2, 210);
    //ctx.lineWith = 1;
    //ctx.strokeStyle = '#2b162b';
    //ctx.strokeText(transliteration, canvas.width/2, 210);

    ctx.font = "100px Arial";
    ctx.textAlign = "center";
    ctx.fillStyle = "white";
    ctx.lineWith = 2;
    ctx.strokeStyle = '#2b162b';
    ctx.fillText(query, canvas.width/2, 960);
    //ctx.strokeText(query, canvas.width/2, 960);

    CanvasRenderingContext2D.prototype.drawImage.apply(ctx, selectedImageData);
  };

  var stockImageSelected = function(img, dim) {
    var canvas = document.getElementById('ig_image');
    var ctx = canvas.getContext('2d');

    var $img = $(img).data('large');
    var largeImg = document.createElement('img');
    largeImg.onload = function() {
      var xScale = this.naturalWidth / img.clientWidth;
      var yScale = this.naturalHeight / img.clientHeight;

      selectedImageData = [this, dim.x1 * xScale, dim.y1 * yScale, dim.width * xScale, dim.height * yScale, 240, 240, 600, 600];
      updateImage();
    };

    largeImg.src = $(img).data('large');
  };

  $(document).ready(function() {
    if ("#{@target}" === 'el') {
      var tr = $('#translation').val();
      window.t.go(1);
      $('#transliteration').val($('#translation').val());
      transliteration = $('#transliteration').val();
      $('#translation').val(tr);
    }

    $('.stock').imgAreaSelect({
      handles: true,
      aspectRatio: '1:1',
      onSelectEnd: stockImageSelected
    });

    $('.owl-carousel').owlCarousel({
      nav: true,
      margin: true,
      autoWidth: true,
      dots: true,
      items: 5
    });
  });
